.container {
  height: 100%;
  background-image: url("src/assets/images/background_envelope.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}
