<div class="container" fxLayout="column">
  <div
    class="expenses-list"
    fxFlex="30"
    fxLayout="column"
    fxLayoutAlign="start center"
  >
    <div class="header">brender billing</div>
    <div class="sub-header">begin adding expenses below</div>
  </div>
  <div
    *ngIf="(expenses | async).length"
    fxFlex="50"
    fxLayoutAlign="center start"
  >
    <div
      class="receipt-container"
      fxLayout="column"
      fxLayoutAlign="space-between start"
    >
      <div>
        <div *ngFor="let expense of expenses | async; index as i">
          <mat-icon (click)="editExpenses(expense, i)">edit</mat-icon>
          {{ expense.name }} paid ${{
            getTotalAmount(expense.expenseItems) | number: "1.2-2"
          }}
          in total for:
          <ul *ngFor="let item of expense.expenseItems">
            <li>
              {{ item.type }}
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="computationResult">
        <div *ngFor="let result of computationResult | async">{{ result }}</div>
      </div>
    </div>
  </div>
  <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
    <button
      class="action"
      [ngClass]="{ inactive: !activeButtonState }"
      (click)="createNewExpense()"
    >
      New Expense <mat-icon>add_circle</mat-icon>
    </button>

    <button
      *ngIf="(expenses | async).length > 1"
      class="action"
      (click)="calculateBillSplit()"
    >
      Calculate<mat-icon> monetization_on</mat-icon>
    </button>
  </div>
</div>
