.container {
  height: 100%;
  background-image: url("src/assets/images/background_marble.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  button.inactive {
    transform: scale(1);
    animation: pulse-black 2s infinite;

    @keyframes pulse-black {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }

      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }
  }

  .receipt-container {
    width: 50%;
    min-height: 40vh;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 20px 40px;
    margin: 20px 0;
  }
}
